# OS
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/
*.sublime-*

# Node
node_modules/
dist/
.env
.env.local

# Flutter
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/*.iml
app/ios/Pods/
app/ios/.symlinks/
app/android/.gradle/
app/android/local.properties

# Python
__pycache__/
*.pyc
